In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Increase notebook display options for better visibility
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", lambda x: "%.2f" % x)

# Load the data
file_path = "/home/moraa-ontita/Documents/Machine-learning/Stock_Price_Prediction/artifacts/data_ingestion/SP500_historical_data.csv"
df = pd.read_csv(file_path)

# Display the first few rows of the dataset
df.head()

,Price,Adj Close,Close,High,Low,Open,Volume
0,Ticker,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC
1,Date,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,1455.219970703125,1455.219970703125,1478.0,1438.3599853515625,1469.25,931800000
3,2000-01-04,1399.4200439453125,1399.4200439453125,1455.219970703125,1397.4300537109375,1455.219970703125,1009000000
4,2000-01-05,1402.1099853515625,1402.1099853515625,1413.27001953125,1377.6800537109375,1399.4200439453125,1085500000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      5998 non-null   object
 1   Adj Close  5997 non-null   object
 2   Close      5997 non-null   object
 3   High       5997 non-null   object
 4   Low        5997 non-null   object
 5   Open       5997 non-null   object
 6   Volume     5997 non-null   object
dtypes: object(7)
memory usage: 328.1+ KB

In [4]:
df.describe()

,Price,Adj Close,Close,High,Low,Open,Volume
count,5998,5997,5997,5997,5997,5997,5997
unique,5998,5889,5889,5878,5894,5891,5839
top,2023-10-31,1097.280029296875,1097.280029296875,1263.8599853515625,1274.8599853515625,1139.9300537109375,4223740000
freq,1,3,3,3,4,3,12

In [5]:
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

Rows: 5998, Columns: 7

# Data Transformations

## Clean the Dataset

Skipping unnecessary rows and resetting the column headers.

In [6]:
# Skip the first two metadata rows
df = pd.read_csv(file_path, skiprows=2)

# Verify the first few rows
print(df.head())

         Date  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0  2000-01-03     1455.22     1455.22     1478.00     1438.36     1469.25
1  2000-01-04     1399.42     1399.42     1455.22     1397.43     1455.22
2  2000-01-05     1402.11     1402.11     1413.27     1377.68     1399.42
3  2000-01-06     1403.45     1403.45     1411.90     1392.10     1402.11
4  2000-01-07     1441.47     1441.47     1441.47     1400.73     1403.45

   Unnamed: 6
0   931800000
1  1009000000
2  1085500000
3  1092300000
4  1225200000

In [7]:
# Rename columns to match expected structure if necessary
df.columns = ['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']

In [8]:
# Reset the column headers and display the first few rows
df.head()

         Date  Adj Close   Close    High     Low    Open      Volume
0  2000-01-03    1455.22 1455.22 1478.00 1438.36 1469.25   931800000
1  2000-01-04    1399.42 1399.42 1455.22 1397.43 1455.22  1009000000
2  2000-01-05    1402.11 1402.11 1413.27 1377.68 1399.42  1085500000
3  2000-01-06    1403.45 1403.45 1411.90 1392.10 1402.11  1092300000
4  2000-01-07    1441.47 1441.47 1441.47 1400.73 1403.45  1225200000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5996 entries, 0 to 5995
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5996 non-null   object
 1   Adj Close  5996 non-null   float64
 2   Close      5996 non-null   float64
 3   High       5996 non-null   float64
 4   Low        5996 non-null   float64
 5   Open       5996 non-null   float64
 6   Volume     5996 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 328.0+ KB

## Convert columns to appropriate data types

In [10]:
# Convert columns to appropriate data types
df['Date'] = pd.to_datetime(df['Date'])  # Convert Date to datetime
numeric_cols = ['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [11]:
# Display information to verify
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5996 entries, 0 to 5995
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5996 non-null   datetime64[ns]
 1   Adj Close  5996 non-null   float64
 2   Close      5996 non-null   float64
 3   High       5996 non-null   float64
 4   Low        5996 non-null   float64
 5   Open       5996 non-null   float64
 6   Volume     5996 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 328.0 KB
None

In [13]:
# Check for missing values
print(df.isnull().sum())

Date         0
Adj Close    0
Close        0
High         0
Low          0
Open         0
Volume       0
dtype: int64

# Saving the file

In [15]:
import os

# Define the absolute path for the output file in the root directory
root_dir = "/home/moraa-ontita/Documents/Machine-learning/Stock_Price_Prediction"
output_file = os.path.join(root_dir, "artifacts/notebooks", "eda.csv")

# Create the necessary directories if they don't exist
os.makedirs(os.path.dirname(output_file), exist_ok=True)

# Save the cleaned DataFrame as eda.csv in the root directory
df.to_csv(output_file, index=False)  # index=False to avoid saving row numbers

print(f"File saved successfully to {output_file}")

File saved successfully to /home/moraa-ontita/Documents/Machine-learning/Stock_Price_Prediction/artifacts/notebooks/eda.csv